.App {
  color: rgba(11, 75, 104, 0.967);
  margin: 0 auto;
  padding: 40px 5px;
  text-align: center;
}
.App .container {
  margin: 0 auto;
  padding: 0;
}
.App footer {
  font-family: monospace;
  font-size: 11px;
  margin: 20px;
}
.App footer a {
  color: rgba(11, 74, 104);
  font-weight: bold;
  text-decoration: none;
}

.App footer a:hover {
  color: darkslategrey;
}
