.Forecast {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 10px;
  padding: 10px 8px;
  margin-right: 5px;
  align-items: center;
}

.Forecast .Forecast-temperature-min {
  opacity: 75%;
}

.Forecast i {
  display: inline;
  margin-right: 5px;
}
