.WeatherInfo .CurrentTemperatureValue {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.1;
}

.WeatherInfo .Units {
  font-size: 20px;
  font-weight: 650;
  position: relative;
  top: -25px;
}

.WeatherInfo .CurrentCityDetails {
  text-align: end;
  line-height: 1.7;
  font-size: 13px;
}
.WeatherInfo .CurrentCityDetails h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 5px;
}
.WeatherInfo .CurrentCityDetails .Country {
  font-size: 21px;
  text-align: center;
}
